---
import "@/styles/base.css";
import "@/styles/colors.css";
import "@/styles/curves.css";
import "@/styles/spacing.css";

interface Props {
  titleSuffix?: string | null | undefined;
}

const { titleSuffix } = Astro.props;

const titlePrefix = "nyx";
const title = titlePrefix + (titleSuffix ? ` :: ${titleSuffix}` : "");
const description = "Software Artisan && Hacktivist. Building beautiful, ethical software.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html class="page" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="oklch(0.98 0 0)" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="oklch(0.2 0 0)" media="(prefers-color-scheme: dark)" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={canonicalURL.hostname} />

    <meta property="og:image" content={new URL("/og-square.png", Astro.site)} />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:type" content="image/png" />

    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/fonts/cascadia-code/cascadia-code.css" />
    <link rel="stylesheet" href="/fonts/inter-variable/inter-variable.css" />
    <link rel="stylesheet" href="/fonts/shantell-sans/shantell-sans.css" />
  </head>

  <body class="page__body">
    <slot />
  </body>
</html>

<style>
  .page {
    background-color: var(--color-surface);
    color: var(--color-on-surface);

    transition:
      background-color 200ms var(--curve-fast-out-slow-in),
      color 200ms var(--curve-fast-out-slow-in);
  }

  .page__body {
    display: flex;
    flex-direction: column;

    font-family: "Inter Variable", sans-serif;
    font-size: clamp(1rem, 0.9rem + 0.45cqi, 1.125rem);

    max-width: 80ch;
    min-height: 100svh;

    margin: 0 auto;
    padding: var(--spacing-md);
    gap: var(--spacing-xl);

    container-type: inline-size;
  }
</style>
